.navigation_main {
    width: 150px;
}

.navigation_main_active-link {
    color: #0089b9;
    font-weight: bold;
}

.navigation_main_link {
    padding: 5px;
    display: block;
}

.navigation_main_link:hover {
    background-color: rgba(206, 221, 226, 0.5);
}